$bg-color: #2976b9;
$bg-tap-color: #fff;
$inaktive-tap-blue: #94c1e3;
$border-color: #dadada;


//font
$prime-font-color: #3d3437;
$inaktiv-font-color: #fff;
$headline-font-color: #2984cd;
$inaktive-tap-font-blue: #eafcfe;
